<div class="container mt-4">
  <div class="page-header">
    <div class="d-flex">
      <h3> All Articles </h3> &nbsp; &nbsp;
  </div>
</div>
<hr>

<div class="d-flex  flex-wrap">
  <%@articles.each do |article|%>
  <div class="col-lg-3">
    <div class="card h-100">
        <%= image_tag article.image.variant(resize_to_limit: [100, 100]), class: "img-responsive" %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card h-100">
      <div class="card-body">       
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.content %></p>
        <p class="card-text"><%= article.author.username.capitalize %></p>
        <%=link_to "Read More", article_path(article), class: 'btn btn-outline-success btn-sm'%>
      </div>
    </div>
  </div>
 <%end%><br >
</div>




