<div class="container mt-4">
    <div class="page-header">
      <div class="d-flex gap-3">
        <h3> All Articles </h3>
        <%= link_to 'Create an Article',  new_article_path, class: "btn btn-success btn-sm" %> 
      </div>
    </div>
  <hr>
  <div>
  <div class="d-flex  flex-wrap">
    <%@recent_art.each do |article| %>
        <div class="col-lg-3">
          <div class="card h-100">
              <%= image_tag article.image.variant(resize_and_pad: [100, 100]), class: "img-responsive" %>
          </div>
        </div>
        <div class="col-lg-3"> 
          <div class="card rounded-0">
            <div class="card-body">       
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%= truncate(article.content, :length => 30)%></p>
              <p class="card-text text-capitalize fst-italic fs-6"> Created by: <%= article.author.username.capitalize %></p>
              <%=link_to "Read More", article_path(article), class: 'btn btn-outline-success btn-sm'%>
            </div>
          </div>
        </div>
    <%end%>
  </div>
</div>
