<div class="container-fluid body_color">
  <div class="d-flex flex-lg-raw">
    <div class="border w-75 h-100">
      <div class="card_d bg-dark text-white">
         <div><%= image_tag(@high_voted.image.variant(resize_to_limit: [232, 200]), style: 'width:750px; height: 280px') if Vote.exists? %></div>  
        <div class="card-img-overlay">
          <h5 class="card-title bottom-up mb-1"><%= link_to @high_voted.title, article_path(@high_voted), class: "text-decoration-none text_col" if Vote.exists?%></h5>
          <h6 class="bottom-down"><%= @high_voted.content if Vote.exists? %></h6>
        </div>
      </div>
    </div>
  <%@categories.limit(1).each do |category|%>
    <div class="border w-25">
      <div class="card_d text-white ">
        <div> 
          <% if category.articles.last.present? %>
          <%= image_tag(category.articles.last.image.variant(resize_to_limit: [232, 200]), style: 'width:230px; height: 280px')%>
          <%end%>
        </div> 
          <div class="card-img-overlay">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "title_white text_dec" %></h5>
            <p class="card-text bottom-left"><%= link_to category.articles.last.title, article_path(category.articles.last), class: "text-decoration-none title_white" if category.articles.exists? %></p>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  
  <div class="d-flex flex-lg-raw">
    <%@categories.all.each do |category|%>
      <div class="border w-25">
        <div class="card_d text-white ">
          <div>
            <% if category.articles.first.present? %>
               <%= image_tag(category.articles.first.image.variant(resize_to_limit: [232, 200]), style: 'width:230px; height: 150px')%>
            <%end%>
          </div>
          <div class="card-img-overlay">
              <h5 class="card-title"><%= link_to category.name, category_path(category), class: "title_white text_dec" %></h5>
              <p class="card-text bottom-left"><%= link_to category.articles.last.title, article_path(category.articles.last), class: "text-decoration-none title_white" if category.articles.exists? %></p>
          </div>
        </div>
      </div>
    <%end%> 
  </div>
<div>
