<div class="container mt-4">
        <div class="page-header">
            <div class="d-flex gap-3">
                <h3> Articles of Category </h3>
                <%= link_to 'Create an Category',  new_category_path, class: "btn btn-success btn-sm" %> 
            </div>
        </div>
       <hr>     
    <div class="d-flex  flex-wrap">
        <% @articles.all.each do |c|%>
            <div class="col-lg-3">
                <div class="card h-75">
                    <%= image_tag c.image.variant(resize_and_pad: [100, 100]), class: "img-responsive" %>
                </div>
            </div>
            <div class="col-lg-3 h-75"> 
                <div class="card rounded-0">
                    <div class="card-body">       
                        <h5 class="card-title"><%= c.title %></h5>
                        <p class="card-text"><%= truncate(c.content, :length => 30)%></p>
                        <p class="card-text text-capitalize fst-italic fs-6"> Created by: <%= c.author.username.capitalize %></p>
                        <%=link_to "Read More", article_path(c), class: 'btn btn-outline-success btn-sm'%>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>
 



