<div class="container mt-4">
<div class="page-header">
	<h3>Add	Category</h3>
</div>
<hr>

<%= form_for(@category) do |form| %>
<%= render "shared/form_errors", object: form.object %>

<div class="col-sm-6 col-lg-auto" >
  <div class="card">
    <div class="card-body center bg-light">


  <div class="mb-3">
    <%= form.label :name%>
    <%= form.text_field :name, class: "form-control", placeholder: "title" %>
  </div>

  <div class="mb-3">
   <%= form.label :priority %>
   <%= form.select :priority, [ "High", "Medium", "Low"], class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
 
   </div>
  </div>
</div>
<%	end	%>
</div>